.buttons {
  display: flex;
  justify-content: space-between;
  margin-right:10px;
}

@media (max-width: 790px) {
.buttons {
  margin-right:0;
}
}

@media (max-width: 610px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons__button {
  color: teal;
  border: none;
  transition: color 0.5s;
  background-color: transparent;
}


@media (max-width: 790px) {
  .buttons__button {
    margin: 10px;
  }
}

.buttons__button:hover {
  color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
  color: rgb(203, 203, 203);
}
