.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons__button {
  color: teal;
  border: none;
  margin-left: 10px;
  transition: color 0.5s;
  background-color: transparent;
}

@media (max-width: 498px) {
  .buttons__button {
    flex-basis: 100%;
    margin: 0 20px 10px 20px;
  }
}

.buttons__button:hover {
  color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
  color: rgb(203, 203, 203);
}
